{#
/**
 * @file
 * Default theme implementation for a summary of an ratio crop effect.
 *
 * Available variables:
 * - data: The current configuration for this resize effect, including:
 *   - aspect_ratio: Aspect ratio of cropped image.
 *   - anchor: The part of the image that will be retained after cropping.
 *   - anchor_label: The translated label of the crop anchor.
 * - effect: The effect information, including:
 *   - id: The effect identifier.
 *   - label: The effect name.
 *   - description: The effect description.
 *
 * @ingroup themeable
 */
#}
{% trans %}
  {{ data.aspect_ratio }} cropped from {{ data.anchor }}
{% endtrans %}
